<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <script type="text/javascript">
     var env = { url_scheme : '<%=env['rack.url_scheme']%>',
		 host : '<%=env['HTTP_HOST']%>',
		 request_uri : '<%=env['REQUEST_URI']%>',
		 path_info : '<%=env['PATH_INFO']%>',
		 script_name : '<%=env['SCRIPT_NAME']%>'};
     env.app_root = env.url_scheme+'://'+env.host+env.script_name+'/';
     env.api_uri = env.app_root+'api'+env.path_info+'.json';
  </script>
  <%= stylesheet_link_tag "/reset-3.1.1.css", "/fonts-3.1.1.css", "/edit.css" %>
  <% yield_content :head %>
  <title><%= @title %></title>
</head>
<body>
<div class="container">
  <div class="head">
    <% yield_content :header %>
  </div>
  <div class="main">
    <%= yield %>
  </div>
  <div class="push"></div>
  <div id="status"></div>
</div>
<div class="footer">
  <p>shokai.org</p>
</div>
</body>
</html>
